html {
    scroll-behavior: smooth;
  }
body{
    font-family: Poppins;
}
nav {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    color: #e1e1e1;
    box-shadow: 1px 5px 6px 0 rgba(22, 22, 26, 0.18);
}
.nav-link {
    color: white;
}

.nav-link:hover {
    color: aqua;
}
h1 {
    color: #ffffff;
}
.judul {
    font-size: 55px ;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
}
.start {
    background: #000000;
    align-items: center;
    padding-top: 20px;
}

.start img {
    width: 105%;
}

#story {
 padding-top: 70px;
 padding-bottom: 50px;
}
#story h2 {
    margin-bottom: 20px;
}
#collection {
    background-color: rgb(245, 245, 240);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 40px 0;
}
#collection h1 {
    color: #1c1c1c;
    font-size: 40px;
    font-style: italic;
    letter-spacing: 0.1em;
    margin: 20px;
    font-weight:bold;
}
/* Style the card background to be black */
#collection .card {
    background-color: rgb(255, 255, 255);
    color: #000;
    border: none; /* Remove the default border */
    border-radius: 1rem 1rem 1rem 1rem;
}
#collectionCard {
    max-width: 400px; /* Set the maximum width of the carousel */
    margin: 0 auto; /* Center the carousel */
  }

  .cards-wrapper {
    display: flex;
    justify-content: center;
  }
  .card img {
    max-width: 100%;
    max-height: 100%;
  }
  .card {
    margin: 0 0.5em;
    box-shadow: 1px 4px 4px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
  }


  #collection .carousel-inner {
    padding: 1em;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #00000033;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }


footer {
    padding: 4em 0em;
    background: #000000;
    color:#e1e1e1;
}

#start .white-outline-button {
    margin-left: 10px;
}

/* Style for buttons with white outline */
.white-outline-button {
    background-color: transparent;
    border-radius: 0px;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    padding: 8px;
}

/* Style the buttons on hover */
.white-outline-button:hover {
    background-color: white;
    color: rgb(0, 0, 0);
}
  

/* Style all buttons with white outline and transparent background */
.black-btn {
    background-color: black;
    border-radius: 0px;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
}

/* Style the buttons on hover */
.black-btn:hover {
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
}


/* Style the email input to have a white outline and less rounded */
footer .email{
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    border-radius: 0; /* Remove the border radius to make it less rounded */
    color: rgb(255, 255, 255);
}

/* Style the subscribe button to be white */
.footer-email button {
    background-color: white;
    color: black; /* Change the text color to black or your preferred color */
    border-radius: 0; /* Remove the border radius to make it less rounded */
}

/* Style the subscribe button on hover */
.footer-email button:hover {
    background-color: black; /* Change the background color on hover */
    color: white; /* Change the text color on hover */
}

.copyright p{
    margin-top: 50px;
}

/* Style the carousel captions */
.carousel-caption {
    color: #fff; /* Text color */
    text-align: left; /* Align text to the left */
    padding: 10px; /* Add padding for better readability */
    left: 20%;
    bottom: 20%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
  
  .carousel-caption h3 {
    font-size: 2em; /* Increase the font size for the title */
    margin-bottom: 0.2em; /* Add some spacing between title and description */
    font-weight: 550;
}
  
  .carousel-caption p {
    font-size: 0.8em; /* Increase the font size for the description */
  }

  #login {
    background-color:rgb(0, 0, 0);
    color: black;
  }

  #login .login-image {
    border-radius: 1rem;
  }
  #login .card {
    border-radius: 1rem;
  }

  #login .form-outline {
    margin-bottom: 10px;
  }

  #login .form-label {
    color: #000;
  }

  #login .form-control {
    background-color: #ffffff;
  }

  #login .form-btn {
    background-color: #f3ebeb;
    margin-top: 30px;
  }
  #login .form-btn:hover {
    background-color:#e6d7d7;
  }

  #login h1 {
    font-weight: bold;
    font-size: 40px;
    color: #000;
  }

  #login h5 {
    margin-top: 5px;
    margin-bottom: 20px;
  }